# Package managers
/node_modules
/vendor
/.yarn
yarn-error.log
npm-debug.log

# Builds
/public/build
/public/hot
/public/storage

# Secrets
/storage/*.key
.env
.env.backup

# Misc
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.DS_Store

# IDEs
/.idea
/.vscode
